* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  height: 100vh;
 
  background-color: hsl(210, 60%, 98%);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.Wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  margin: 0 auto;
  padding: 1.5rem 1rem 0 1rem;
  align-content: center;
  max-width: 670px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  display: inline;
  font-size: 1.25rem;
  font-weight: 900;
}

button {
  cursor: pointer;
  /* color: hsl(219, 12%, 42%); */
  color: hsl(219, 85%, 26%);
  border-style: none;
  background-color: initial;
  font-weight: 500;
}

.Counter {
  background-color: hsl(219, 85%, 26%);
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  font-weight: 900;
  padding: 1px 10px 1px 10px;
  margin-left: 9px;
}