.Notification {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;

    a {
        color: hsl(224, 21%, 14%);
        font-weight: 900;
        text-decoration: none;
    }

    img {
        width: 39px;
        height: 39px;
        margin-right: 0.8125rem;
    }

    .Text {
        color: hsl(219, 12%, 42%);
    }

    .Time {
        color: hsl(219, 14%, 63%);
    }

    &.Unread {
        background-color: hsl(210, 60%, 98%);

        .Text::after {
            content: '🔴'; 
            margin-left: 5px;
        }
    }

    &.Read {
        background-color: hsl(0, 0%, 100%);
    }
}